body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}

header{
    display:flex;
    justify-content: space-around;
    align-self: stretch;
    height: 50px;
    align-items:center;
    background-color: #1F2937;
    gap: 20px;
}
.left-header{
    font-size: 24px;
    color: #F9FAF8;
}
.right-header{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
.hero-section{
    background-color: #1F2937;
    display:flex;
    height:450px;
    align-self:stretch;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 100px;
}
.hero-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    /*width: 400px;*/
    flex: 1 1 300px;
    max-width: 400px;
}
.hero-text{
    font-size:48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    padding: 12px 30px;
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 15px;
    border:none;
    font-weight: bold;
    font-size: large;
}
.hero-img{
    flex: 1 1 300px;
    max-width:500px;/*
    min-width: 50px;*/
}
.my-image{
    width:100%;
}
.random-info-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    padding: 100px;
}
.rand-header{
    margin-top: -50px;
    margin-bottom: 50px;
}
.square-images{
    display:flex;
    gap: 40px;
    font-size: 20px;
    font-weight:normal;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
}
.image{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    max-width: 400px;
}
.an-image{
}
.img-subtext{
    text-align: center;
}

.quote-section{
    background: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    align-self: stretch;
    display:flex;
    justify-content: center;
    padding: 100px;
}
.quote-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
}
.quote-text{
    font-weight:lighter;
}
.quote-author-text{
    font-weight:bold;
    align-self: flex-end;
}
.call-to-action{
    color:#F9FAF8;
    padding: 100px;
}
.signup-dialog-box{
    background-color: #3882F6;
    display:flex;
    padding:50px;
    gap: 50px;
    justify-content: space-around;
    border-radius: 15px;
}
.signup-left{

}
.signup-exclamation{
    font-weight: bold;
    font-size: x-large;
}
.signup-subtext{
}
.signup-button{
    border-style: solid;
    border-width: 2px;
}